// 如果有折扣价，则显示折扣价，否则显示原价
function mainPrive(price, discountPrice) {
    if (!discountPrice) {
        return {
            display: true,
            price: price
        };
    } else {
        return {
            display: true,
            price: discountPrice
        };
    }
}

// 如果有折扣价，则显示原价，否则为空
function slashedPrice(price, discountPrice) {
    if (discountPrice) {
        return {
            display: true,
            price: price
        }
    } else {
        return {
            display: false,
            price: null
        }
    }
}

module.exports =
    {
        mainPrice: mainPrive,
        slashedPrice: slashedPrice
    }